<br>

<div class="form">

  <div class="buttons">
    <label for="chbox" class="login btn"><span class="customer_btn"><b>Customer</b></span></label>
    <label for="chbox" class="SignUp btn"><span class="bussiness_btn"><b>Retailer</b></span></label>
  </div>

  <input type="checkbox" id="chbox">
  <div class="layer"></div>
  <div class="layer2"></div>
  <br>
  


  <div class="container customer_form">
    <div class="row topRow">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 loginCol nopadding">


        <h3 class="loginHeading">
          Welcome Back!
        </h3>

        <p class="loginPara">

          To keep connected <br>
          with us please login with
          your personal info

        </p> <br>

        <button class="loginBtn" (click)="goToLogin()">Log In</button>






      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 colRight">

        <h1 class="signupHeading">
          Create Account
        </h1>

        <form class="signupForm">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control inputFields" placeholder="Name">
            </div>
            <div class="col">
              <input type="text" class="form-control inputFields" placeholder="Email">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control inputFields" placeholder="Contact">
            </div>
            <div class="col">
              <input type="password" class="form-control inputFields" placeholder="Password">
            </div>
          </div>
          <button class="signupBtn">Register</button>
        </form>
      </div>
    </div>

  </div>







  <div class="container Bussiness_form">
    <div class="row topRowRetailer">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 loginColRetailer nopadding">


        <h3 class="loginHeadingRetailer">
          Welcome Back!
        </h3>

        <p class="loginParaRetailer">

          To keep connected <br>
          with us please login with
          your personal info

        </p> <br>

        <button class="loginBtnRetailer" (click)="goToLogin()">Log In</button>






      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 colRightRetailer">

        <h1 class="signupHeading">
          Create Bussiness Account
        </h1>

        <form class="signupForm">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control inputFieldsRetailer" placeholder="BussinessName">
            </div>
            <div class="col">
              <input type="text" class="form-control inputFieldsRetailer" placeholder="BussinessEmail">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control inputFieldsRetailer" placeholder="BussinessContact">
            </div>
            <div class="col">
              <input type="password" class="form-control inputFieldsRetailer" placeholder="BussinessPassword">
            </div>
          </div>
          <button class="signupBtn">Register</button>
        </form>
      </div>
    </div>

  </div>






