
<br>
<div class="topRow">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="input-group mb-6">
        <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
</div>
<br>
<br>
<div class="topImage">


</div>

<br>

<div class="recentAdded">
    <hr>
    <h5 class="recentHeading">New Arrivals</h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>

<div class="recentAdded">
    <hr>
    <h5 class="recentHeading">Best Seller</h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>

<div class="recentAdded">
    <hr>
    <h5 class="recentHeading">Top Seller</h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>




<br>
<br>